*
{
    padding: 0;
    margin: 0;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

html, body
{
    background-color: #344A55;

    width: 100%;

    height: 100%;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),

      url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotom;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: robotol;
    src: url(fonts/Roboto-Light.ttf);
}

.outline
{
    font-size: .625rem;
    letter-spacing: .09375rem;
    font-family: roboto;
}