html, body
{
    display: flex;
    flex-direction: column;
}

.contentWrapper
{
    height: 100%;

    display: flex;

    flex: 1 1 auto;
}

.navagation
{
    display: inline-flex;

    flex-grow: 1;

    height: 100%;
}

.content
{
    display: inline-flex;

    flex-grow: 6;

    background-color: #EDF0F2;

    height: 100%;
}

.windowControls
{
    display: flex;

    background-color: #D2DBE0;

    -webkit-app-region: drag;

    justify-content: center;

    align-items: center;
}

.navbutton
{
    -webkit-app-region: no-drag;

    display: inline-flex;

    margin: .2em .5em .2em .5em;

    transition: all .2s ease-out;

    cursor: pointer;
}
.navbutton:hover
{
    opacity: .7;
}

#minimize
{
    margin-left: auto;
}

.navagation-stack
{
    display: flex;

    flex-direction: column;

    width: 100%;

    margin: 2em 1em 2em 1em;
}

.stackNode
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    align-content: center;

    width: auto;

    align-self: flex-start;

    font-size: 90%;

    cursor: pointer;
}

.nav-logo
{
    width: 35px;
    height: 35px;

    cursor: default;
}

.nav-logo-tag
{
    color: #6B828D;

    letter-spacing: .1rem;

    font-size: 11pt;

    font-family: robotol;

    margin-left: 1em;

    display: inline-flex;
}

.stackNodeElement
{
    display: inline-block;

    color: #EDF0F2;

    transition: all .2s ease-out;

    cursor: pointer;
}
.stackNodeElement:hover
{
    color: #E4E7E9;
}

#settingsButton
{
    margin-left: auto;

    color: #B6C3CE;

    transition: all .2s ease-out;
}
#settingsButton:hover
{
    opacity: .7;
}

#launchButton
{
    background-color: #55EFC4;

    padding: .5em 2em .5em 2em;

    border-radius: 1em;

    margin-top: 1.5em;

    transition: all .2s ease-in-out;
}
#launchButton:hover
{
    box-shadow: 0px 0px 15px 3px #10212C;
}

#launchTag
{
    margin-left: auto;

    margin-left: 1em;

    color: #10212C;

    font-size: 90%;

    font-family: robotom;

    letter-spacing: .1rem;
}

#launchIcon
{
    color: #10212C;

    font-size: 105%;

    cursor: pointer;
}

#navStackHeader
{
    width: 100%;

    cursor: default;
}