html, body
{
    display: flex;
    flex-direction: column;
}

.contentWrapper
{
    height: 100%;

    display: flex;

    flex: 1 1 auto;
}

.navagation
{
    display: inline-flex;

    flex-grow: 1;

    height: 100%;
}

.content
{
    display: inline-flex;

    flex-grow: 4;

    background-color: #EDF0F2;

    height: 100%;
}

.windowControls
{
    display: flex;

    background-color: #D2DBE0;

    -webkit-app-region: drag;

    justify-content: center;

    align-items: center;
}

.navbutton
{
    -webkit-app-region: no-drag;

    display: inline-flex;

    margin: .2em .5em .2em .5em;

    transition: all .2s ease-out;

    cursor: pointer;
}
.navbutton:hover
{
    opacity: .7;
}

#minimize
{
    margin-left: auto;
}

.navagation-stack
{
    display: flex;

    flex-direction: column;

    width: 100%;

    margin: 2em 1em 2em 1em;
}

.stackNode
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    align-content: center;

    width: 100%;
}

.nav-logo
{
    width: 35px;
    height: 35px;
}

.nav-logo-tag
{
    color: #6B828D;

    letter-spacing: .1rem;

    font-size: 11pt;

    font-family: robotol;

    margin-left: 1em;

    display: inline-flex;
}

.stackNodeElement
{
    display: inline-flex;
}

#settingsButton
{
    margin-left: auto;

    color: #EDF0F2;
}